.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  position: top;

}
th {
  text-align: left;
}



.container2 {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px  black;
  position: bottom;
}
th {
  text-align: center;
}
